.vscode
.idea
/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/js/app.js.*
/public/css/app.css
/public/swagger.json
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
